.checkboxCheckedLaneButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.inputCheckbox {
  display: none;
}

.leftLabel {
  margin-right: 8px;
}

.rightLabel {
  margin-left: 8px;
}

.inputCheckbox + div {
  width: 24px;
  height: 24px;
  position: relative;
  background: #FFFFFF;
  border: 1px solid black;
  cursor: pointer;

  &:after {
    content: "";
    transform: rotate(45deg);
  }
}

.inputCheckbox:checked + div {
  // styling the checker
  &:after {
    border: solid #000000;
    border-width: 0 3px 3px 0;
    position: absolute;
    bottom: 22%;
    top: 8%;
    left: 32%;
    right: 33%;
  }
}

.inputCheckbox:disabled + div {
  background-color: #d1d1d1;
  cursor: initial;
}
