$leftSpacing: 22px;
$topSpacing: 40px;

@mixin _fluidItem($topSpacing, $leftSpacing, $noColumns) {
  flex-basis: calc(100% / #{$noColumns} - #{$leftSpacing});
  margin: $topSpacing 0 0 $leftSpacing;
}

@mixin _column($topSpacing) {
  flex-wrap: wrap;
  margin-top: calc(0px - #{$topSpacing});
}

@mixin _grid($topSpacing, $leftSpacing) {
  flex-wrap: wrap;
  margin: calc(0px - #{$topSpacing}) 0 0 calc(0px - #{$leftSpacing});
}

._sharedGrid {
  flex: 1;
  display: flex;
  overflow: hidden;
  word-break: break-word;
}
