.fileCard {
  .imageContentContainer {
    display: flex;
    flex-direction: column-reverse;

    @include bpTablet() {
      flex-direction: row;
    }

    .imageAndOptionContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      position: relative;

      .imageOptions {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .imageContainer {
        display: flex;
        align-self: center;

        .image {
          width: 100%;
        }
      }
    }
  }
}
