.inputWithCounter {
  width: 280px;

  .input {
    display: flex;
    height: 100%;
    flex-basis: 60%;
    border: none;
    text-align: center;
  }

  .counterBtn {
    display: flex;
    height: 100%;
    flex-basis: 20%;
  }

  // Remove default arrows from Input type number
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
