.arrow {
  position: relative;
  width: 9px;
  height: 19px;
  overflow: hidden;
}

.rectangle {
  position: absolute;
  top: 1px;
  width: 18px;
  height: 17px;
  transform: rotate(-227deg);
  transform-style: preserve-3d;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.leftArrow {
  composes: rectangle;
  left: 4px;
}

.rightArrow {
  composes: rectangle;
  right: 4px;
}

.simplePagination {
  display: flex;
  justify-content: center;
}

.paginationButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 6px;

  &:first-child {
    margin-left: 0;
  }

  &.isSelected {
    color: white;
    background-color: black;
  }
}

