.urlInput {
  background-color: white;
  border: 1px solid #333;
  width: 100%;

  .input {
    align-self: center;
    width: 100%;
    border: none;
    font-family: value-regular, sans-serif;

    &:focus {
      outline: none;
    }
  }

  .btnClear {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    .crossIcon {
      width: 22px;
      height: 22px;

      .cross1 {
        transform: rotate(135deg);
        transform-origin: center;
        stroke: #c2d1d9;
      }

      .cross2 {
        transform: rotate(45deg);
        transform-origin: center;
        stroke: #c2d1d9;
      }
    }
  }
}
