.inputTagCreatorDemoClassNames {
  :global {
    .innerClassesPrefix {
      &__control {
        border: none;
        min-height: 48px;
      }

      &__multi-value {
        border-radius: 8px;
        margin: 0 4px;
        background-color: #d4d4d4;

        &__label {
          color: #1d1d1d;
          padding: 6px 10px;
        }

        &__remove {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
}
