.homeRoute {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px;
  max-width: 100vw;
  background-color: lightgray;

  .title {
    color: green;
  }

  & > * {
    margin-top: 40px;
  }
}

/* buttons */
.button {
  border: 1px solid black;
}
.testIcon {
  color: gray;
}

.iconButton {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid black;
}

.checkboxProp {
  & + div {
    background: #ffb151;
  }

  &:checked + div {
    background: green;
    border: none;

    &:after {
      border-color: #d123da;
    }
  }
}

.pdfPage {
  width: 29.7cm;
  height: 21cm;

  color: green;
}
