.dropdownTrigger {
  position: relative;
  overflow: visible;
}

.dropdownWrapper {
  position: absolute;
  top: 100%;
  filter: drop-shadow(0 8px 12px rgba(0,0,0,0.17));
  z-index: 990;

  .dropdown {
    background: white;
    padding: 20px;
    clip-path: polygon(0% 10px, calc(50% - 10px) 10px, 50% 0px, calc(50% + 10px) 10px, 100% 10px, 100% 100%, 0% 100%);
  }
}
