*, *:before, *:after {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: $body-font;
  font-size: $font-size-base;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html,body,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,
form,
table,th,td,caption,
ul, ol,
hr, figure,
button {
  margin:0;
  padding:0;
}

button, a {
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
